@use "./base" as *;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

.container {
  width: 800px;
  max-width: 80%;
  padding: 10%;
  border: black solid 2px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 20px;
}
